{% extends 'app/layouts/base.html' %} {% block content %}
{% load custom_filters %} 
<div class="row category">
    <h1>CHẨN ĐOÁN HÌNH ẢNH</h1>
</div>
<form
    action="{% url 'app:services' %}"
    method="post"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    <div class="row card-detail-row mb-5" id="img">
        <div class="col-12 mt-3 mb-1">
            <h2>Chẩn đoán bệnh trên hình chụp X-Ray </h2>
        </div>
        <div class="col-md-12 col-lg-6 upload-box">
            <div>Ảnh gốc</div>
            <div class="image">
                {% if service == 'img' %}
                <img src="{{url}}" alt="" class="active" />
                {% elif service  == 'dicom' %}
                <img src="{{dicom_image}}" alt="" class="active" />
                {% endif %}

                <div>
                    <i class="m-2 upload-icon fas fa-cloud-upload-alt"></i>
                    <br />Vui lòng chọn ảnh <br />
                    cần nhận dạng!
                </div>
                <input name="img" type="file" />
            </div>
        </div>

        <div class="col-md-12 col-lg-6 upload-box">
            <div>Kết quả dự đoán</div>
            <div class="image">
                {% if encoded_img %}
                    <img src="data:image/png;base64,{{ encoded_img }}" alt="Prediction Result" class="active">
                {% else %}
                    Kết quả sẽ được hiển thị khi chọn ảnh
                {% endif %}
            </div>

            <!-- Thêm nút tải file DICOM kết quả -->
            <div class="mt-3">
                {% if service == 'dicom' and dicom_file %}
                    <a href="{% url 'app:download_dicom' filename=dicom_file %}" 
                    class="btn btn-primary">
                        Tải file DICOM kết quả
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <button data-id="{{service}}" type="submit" style="display: none">
        SUBMIT {{service}}
    </button>
</form>

{% endblock content %}